
.ClassesandCalender_ClassesandCalender {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(232,237,240,1.00);
}
.ClassesandCalender_ClassesandCalender .Rectangle59 {
	position: absolute;
	left: 332px;
	top: 245px;
	width: 1063px;
	height: 734px;
	background: rgba(183,206,255,0.34);
}
.ClassesandCalender_ClassesandCalender .Rectangle201 {
	position: absolute;
	left: 474px;
	top: 857px;
	width: 773px;
	height: 89px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Rectangle200 {
	position: absolute;
	left: 472px;
	top: 745px;
	width: 775px;
	height: 84px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Rectangle199 {
	position: absolute;
	left: 470px;
	top: 624px;
	width: 783px;
	height: 86px;
	background: rgba(217,217,217,1.00);
}
.ClassesandCalender_ClassesandCalender .Rectangle198 {
	position: absolute;
	left: 472px;
	top: 626px;
	width: 781px;
	height: 84px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Rectangle197 {
	position: absolute;
	left: 474px;
	top: 508px;
	width: 776px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Rectangle196 {
	position: absolute;
	left: 472px;
	top: 391px;
	width: 765px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Rectangle194 {
	position: absolute;
	left: 474px;
	top: 271px;
	width: 779px;
	height: 88px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .gridiconsdropdown {
	position: absolute;
	left: 507px;
	top: 185px;
	width: 55px;
	height: 55px;
}
.ClassesandCalender_ClassesandCalender .gridiconsdropdown .Vector {
	position: absolute;
	left: 16.041748046875px;
	top: 22.91650390625px;
	width: 41.666668978604406%;
	height: 20.833334489302203%;
}
.ClassesandCalender_ClassesandCalender .CALENDER {
	position: absolute;
	left: 304px;
	top: 132px;
	width: 342px;
	height: 67px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(30,30,30,1.00);
	font-family: Inter;
	font-size: 50px;
	font-weight: 400;
	line-height: 60.5113639831543px;
}
.ClassesandCalender_ClassesandCalender .Group7 {
	position: absolute;
	left: 475px;
	top: 274px;
	width: 778px;
	height: 672px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group20 {
	position: absolute;
	left: 0px;
	top: 587px;
	width: 773px;
	height: 85px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group20 .Rectangle96 {
	position: absolute;
	left: 5.498059508408796%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group20 .Rectangle97 {
	position: absolute;
	left: 94.50194049159121%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group20 .Rectangle98 {
	position: absolute;
	left: 34.99353169469599%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group20 .Rectangle99 {
	position: absolute;
	left: 50.25873221216042%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group20 .Rectangle100 {
	position: absolute;
	left: 65.00646830530401%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group20 .Rectangle101 {
	position: absolute;
	left: 79.7542043984476%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group20 .Rectangle102 {
	position: absolute;
	left: 20.245795601552395%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group18 {
	position: absolute;
	left: 0px;
	top: 470px;
	width: 773px;
	height: 85px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group18 .Rectangle89 {
	position: absolute;
	left: 5.498059508408796%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group18 .Rectangle90 {
	position: absolute;
	left: 94.50194049159121%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group18 .Rectangle91 {
	position: absolute;
	left: 34.99353169469599%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group18 .Rectangle92 {
	position: absolute;
	left: 50.25873221216042%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group18 ._24 {
	position: absolute;
	left: 380px;
	top: 34px;
	width: 40px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group18 .Rectangle93 {
	position: absolute;
	left: 65.00646830530401%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group18 .Rectangle94 {
	position: absolute;
	left: 79.7542043984476%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group18 .Rectangle95 {
	position: absolute;
	left: 21.539456662354464%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group18 ._25 {
	position: absolute;
	left: 492px;
	top: 34px;
	width: 39px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group18 ._26 {
	position: absolute;
	left: 607px;
	top: 34px;
	width: 40px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group18 ._26_1 {
	position: absolute;
	left: 713px;
	top: 34px;
	width: 40px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(255,114,102,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group6 {
	position: absolute;
	left: 2px;
	top: 234px;
	width: 773px;
	height: 85px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group6 .Rectangle74 {
	position: absolute;
	left: 5.498059508408796%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group6 .Rectangle75 {
	position: absolute;
	left: 94.50194049159121%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group6 .Rectangle76 {
	position: absolute;
	left: 34.99353169469599%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group6 ._10 {
	position: absolute;
	left: 255px;
	top: 32px;
	width: 36px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group6 .Rectangle77 {
	position: absolute;
	left: 50.25873221216042%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group6 .Rectangle78 {
	position: absolute;
	left: 65.00646830530401%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group6 .Rectangle79 {
	position: absolute;
	left: 79.7542043984476%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group6 .Rectangle80 {
	position: absolute;
	left: 20.245795601552395%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group6 ._8 {
	position: absolute;
	left: 30px;
	top: 34px;
	width: 21px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group6 ._9 {
	position: absolute;
	left: 147px;
	top: 32px;
	width: 21px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group6 ._11 {
	position: absolute;
	left: 372px;
	top: 32px;
	width: 30px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group6 ._12 {
	position: absolute;
	left: 490px;
	top: 30px;
	width: 35px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group6 ._13 {
	position: absolute;
	left: 609px;
	top: 32px;
	width: 36px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group6 ._14 {
	position: absolute;
	left: 708px;
	top: 34px;
	width: 36px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(255,114,102,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group4 {
	position: absolute;
	left: 2px;
	top: 0px;
	width: 773px;
	height: 88px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group4 .Rectangle195 {
	position: absolute;
	left: 3px;
	top: 0px;
	width: 767px;
	height: 88px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group4 .Rectangle60 {
	position: absolute;
	left: 5.498059508408796%;
	top: 48.29545454545455%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group4 .Rectangle66 {
	position: absolute;
	left: 94.50194049159121%;
	top: 48.29545454545455%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group4 .Rectangle62 {
	position: absolute;
	left: 34.99353169469599%;
	top: 48.29545454545455%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group4 .Rectangle63 {
	position: absolute;
	left: 50.25873221216042%;
	top: 48.29545454545455%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group4 .Rectangle64 {
	position: absolute;
	left: 65.00646830530401%;
	top: 48.29545454545455%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group4 .Rectangle65 {
	position: absolute;
	left: 79.7542043984476%;
	top: 48.29545454545455%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group4 .Rectangle61 {
	position: absolute;
	left: 20.245795601552395%;
	top: 48.29545454545455%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group4 .Mon {
	position: absolute;
	left: 8px;
	top: 36px;
	width: 66px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group4 .Tue {
	position: absolute;
	left: 129px;
	top: 38px;
	width: 56px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group4 .Wed {
	position: absolute;
	left: 239px;
	top: 36px;
	width: 68px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group4 .Thu {
	position: absolute;
	left: 359px;
	top: 38px;
	width: 59px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group4 .Fri {
	position: absolute;
	left: 483px;
	top: 36px;
	width: 39px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group4 .Sat {
	position: absolute;
	left: 595px;
	top: 36px;
	width: 50px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group4 .Sun {
	position: absolute;
	left: 702px;
	top: 36px;
	width: 58px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 {
	position: absolute;
	left: 0px;
	top: 351px;
	width: 778px;
	height: 286px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 .Rectangle103 {
	position: absolute;
	left: 34.76863753213368%;
	top: 15.55944055944056%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 .Rectangle82 {
	position: absolute;
	left: 5.4627249357326475%;
	top: 14.86013986013986%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(39,48,67,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 .Rectangle83 {
	position: absolute;
	left: 94.53727506426736%;
	top: 14.86013986013986%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 .Rectangle85 {
	position: absolute;
	left: 50.19280205655527%;
	top: 14.86013986013986%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 .Rectangle86 {
	position: absolute;
	left: 64.84575835475579%;
	top: 14.86013986013986%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 .Rectangle87 {
	position: absolute;
	left: 80.01285347043702%;
	top: 14.86013986013986%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 .Rectangle88 {
	position: absolute;
	left: 20.37275064267352%;
	top: 14.86013986013986%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 ._15 {
	position: absolute;
	left: 25px;
	top: 38px;
	width: 35px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 ._16 {
	position: absolute;
	left: 139px;
	top: 40px;
	width: 35px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 ._17 {
	position: absolute;
	left: 249px;
	top: 42px;
	width: 34px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 ._18 {
	position: absolute;
	left: 374px;
	top: 42px;
	width: 35px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 ._22 {
	position: absolute;
	left: 25px;
	top: 153px;
	width: 39px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 ._28 {
	position: absolute;
	left: 25px;
	top: 268px;
	width: 40px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 ._29 {
	position: absolute;
	left: 140px;
	top: 268px;
	width: 40px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 ._30 {
	position: absolute;
	left: 255px;
	top: 268px;
	width: 41px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 ._22_1 {
	position: absolute;
	left: 139px;
	top: 153px;
	width: 39px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 ._23 {
	position: absolute;
	left: 253px;
	top: 153px;
	width: 40px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 ._19 {
	position: absolute;
	left: 492px;
	top: 42px;
	width: 35px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 ._20 {
	position: absolute;
	left: 607px;
	top: 40px;
	width: 40px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group17 ._21 {
	position: absolute;
	left: 711px;
	top: 36px;
	width: 35px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(255,114,102,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group5 {
	position: absolute;
	left: 0px;
	top: 117px;
	width: 773px;
	height: 85px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group5 .Rectangle67 {
	position: absolute;
	left: 5.498059508408796%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group5 .Rectangle68 {
	position: absolute;
	left: 94.50194049159121%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group5 .Rectangle69 {
	position: absolute;
	left: 34.99353169469599%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group5 .Rectangle70 {
	position: absolute;
	left: 50.77619663648124%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group5 .Rectangle71 {
	position: absolute;
	left: 65.00646830530401%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group5 .Rectangle72 {
	position: absolute;
	left: 79.7542043984476%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group5 .Rectangle73 {
	position: absolute;
	left: 20.245795601552395%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85px;
	height: 85px;
	background: rgba(255,255,255,1.00);
}
.ClassesandCalender_ClassesandCalender .Group7 .Group5 ._2 {
	position: absolute;
	left: 149px;
	top: 35px;
	width: 20px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group5 ._1 {
	position: absolute;
	left: 35px;
	top: 36px;
	width: 15px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group5 ._3 {
	position: absolute;
	left: 264px;
	top: 35px;
	width: 21px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group5 ._4 {
	position: absolute;
	left: 380px;
	top: 33px;
	width: 21px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group5 ._5 {
	position: absolute;
	left: 490px;
	top: 33px;
	width: 20px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group5 ._6 {
	position: absolute;
	left: 612px;
	top: 33px;
	width: 21px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group7 .Group5 ._7 {
	position: absolute;
	left: 718px;
	top: 33px;
	width: 19px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(255,114,102,1.00);
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Sidebar {
	position: absolute;
	left: 56px;
	top: 45px;
	width: 227px;
	height: 939px;
	border-radius: 25.20362091064453px;
}
.ClassesandCalender_ClassesandCalender .Sidebar .Rectangle72_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 227px;
	height: 939px;
	background: rgba(39,48,67,1.00);
	border-radius: 25.20362091064453px;
}
.ClassesandCalender_ClassesandCalender .Sidebar .Dashboard {
	position: absolute;
	left: 54.6083984375px;
	top: 152.05859375px;
	width: 117px;
	height: 26px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Montserrat;
	font-size: 21.00301742553711px;
	font-weight: 400;
	line-height: 25.602678298950195px;
}
.ClassesandCalender_ClassesandCalender .Sidebar .CyberPeaceFoundation {
	position: absolute;
	left: 8px;
	top: 25px;
	width: 210.03016662597656px;
	height: 50px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Barlow;
	font-size: 21.00301742553711px;
	font-weight: 700;
	line-height: 25.203622817993164px;
}
.ClassesandCalender_ClassesandCalender .Sidebar .Rectangle115 {
	position: absolute;
	left: 35px;
	top: 321px;
	width: 155.42233276367188px;
	height: 44.526397705078125px;
	background: rgba(255,255,255,1.00);
	border-radius: 25.20362091064453px;
}
.ClassesandCalender_ClassesandCalender .Sidebar .Courses {
	position: absolute;
	left: 71.41015625px;
	top: 210.86767578125px;
	width: 84px;
	height: 26px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Montserrat;
	font-size: 21.00301742553711px;
	font-weight: 400;
	line-height: 25.602678298950195px;
}
.ClassesandCalender_ClassesandCalender .Sidebar .Community {
	position: absolute;
	left: 50.4072265625px;
	top: 269.67578125px;
	width: 126px;
	height: 26px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Montserrat;
	font-size: 21.00301742553711px;
	font-weight: 400;
	line-height: 25.602678298950195px;
}
.ClassesandCalender_ClassesandCalender .Sidebar .Calendar {
	position: absolute;
	left: 65.529296875px;
	top: 328.48388671875px;
	width: 95px;
	height: 26px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(39,48,67,1.00);
	font-family: Montserrat;
	font-size: 21.00301742553711px;
	font-weight: 400;
	line-height: 25.602678298950195px;
}
.ClassesandCalender_ClassesandCalender .January2024 {
	position: absolute;
	left: 345px;
	top: 199px;
	width: 164px;
	height: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 25px;
	font-weight: 400;
	line-height: 30.25568199157715px;
}
.ClassesandCalender_ClassesandCalender .Navbar {
	position: absolute;
	left: 318px;
	top: 40px;
	width: 1100px;
	height: 63px;
}
.ClassesandCalender_ClassesandCalender .Navbar .Rectangle72_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 561px;
	height: 63px;
	background: rgba(255,255,255,1.00);
	border-radius: 30px;
}
.ClassesandCalender_ClassesandCalender .Navbar .Search {
	position: absolute;
	left: 18px;
	top: 15px;
	width: 41px;
	height: 33px;
	object-fit: cover;
	overflow: hidden;
}
.ClassesandCalender_ClassesandCalender .Navbar .Search_1 {
	position: absolute;
	left: 77px;
	top: 20px;
	width: 69px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 400;
	line-height: 24.3799991607666px;
}
.ClassesandCalender_ClassesandCalender .Navbar .MaleUser {
	position: absolute;
	left: 1060px;
	top: 5px;
	width: 40px;
	height: 40px;
	object-fit: cover;
	overflow: hidden;
}
.ClassesandCalender_ClassesandCalender .Navbar .Doorbell {
	position: absolute;
	left: 968px;
	top: 5px;
	width: 40px;
	height: 40px;
	object-fit: cover;
	overflow: hidden;
}
.ClassesandCalender_ClassesandCalender .Rectangle202 {
	position: absolute;
	left: 546px;
	top: 355px;
	width: 275px;
	height: 313px;
	background: rgba(255,255,255,1.00);
	border: 7px solid rgba(27.488247491419315,88.86878773570061,218.45000445842743,1);
	box-sizing: border-box;
}
.ClassesandCalender_ClassesandCalender .Group21 {
	position: absolute;
	left: 560px;
	top: 538px;
	width: 242px;
	height: 84px;
}
.ClassesandCalender_ClassesandCalender .Group21 ._400pm600pm {
	position: absolute;
	left: 90px;
	top: 64px;
	width: 152px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(255,114,102,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 300;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group21 .JohnDoe {
	position: absolute;
	left: 95px;
	top: 39px;
	width: 96px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 21px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group21 .CyberSecurityAnalyst {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 235px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 21px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group21 .Ellipse3 {
	position: absolute;
	left: 23px;
	top: 29px;
	width: 55px;
	height: 55px;
	object-fit: cover;
	overflow: hidden;
	mix-blend-mode: multiply;
}
.ClassesandCalender_ClassesandCalender .Group22 {
	position: absolute;
	left: 551px;
	top: 420px;
	width: 255px;
	height: 84px;
}
.ClassesandCalender_ClassesandCalender .Group22 ._400pm600pm_1 {
	position: absolute;
	left: 90px;
	top: 64px;
	width: 152px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(255,114,102,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 300;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group22 .JohnDoe_1 {
	position: absolute;
	left: 95px;
	top: 39px;
	width: 96px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 21px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group22 .EthicalHackingEssential {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 255px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(39,48,67,1.00);
	font-family: Inter;
	font-size: 21px;
	font-weight: 600;
	line-height: 18px;
}
.ClassesandCalender_ClassesandCalender .Group22 .Ellipse3_1 {
	position: absolute;
	left: 23px;
	top: 29px;
	width: 55px;
	height: 55px;
	object-fit: cover;
	overflow: hidden;
	mix-blend-mode: multiply;
}
.ClassesandCalender_ClassesandCalender .bitcoiniconscrossoutline {
	position: absolute;
	left: 775px;
	top: 361px;
	width: 36px;
	height: 36px;
}
.ClassesandCalender_ClassesandCalender .bitcoiniconscrossoutline .Vector_1 {
	position: absolute;
	left: 9px;
	top: 9px;
	width: 50%;
	height: 50%;
}