@font-face {
	font-family: 'Montserrat';
	src: 
		 url('../assets/fonts/Montserrat-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Montserrat';
	src: 
		 url('../assets/fonts/Montserrat-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Montserrat';
	src: 
		 url('../assets/fonts/Montserrat-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
  }
  
  body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	background: #f0f2f5;

  }

  .bg{
	position: absolute;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	object-fit: fit
	;
  }
  
  .login-container {
	position: absolute;
	right: 7rem;
	top: 8rem;
	display: flex;
	flex-direction: row;
	background: white;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	width:100%;
	max-width: 550px;
	height: 100%;
	max-height: 600px;
  }
  
  .login-image {
	flex: 1;
	background: url('../assets/images/bg.png') no-repeat center center;
	background-size: cover;
  }
  
  .login-form {
	flex: 1;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .login-form h1 {
	margin: 0;
	font-size: 2rem;
	font-weight: 600;
  }
  
  .login-form .user-type {
	margin: 1rem 0;
	display: flex;
	justify-content: center;
	width: 100%;
  }
  
  .login-form .user-type label {
	margin: 0 1rem;
	font-weight: 400;
	cursor: pointer;
  }
  
  .login-form .input-group {
	width: 100%;
	margin: 1rem 0;
  }
  
  .login-form .input-group input {
	width: 100%;
	padding: 0.5rem;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  .login-form .forgot-password {
	width: 100%;
	text-align: right;
	margin: 0.5rem 0;
	font-size: 0.875rem;
	color: #007BFF;
	cursor: pointer;
  }
  
  .login-form .login-button {
	width: 100%;
	padding: 0.75rem;
	background: #273043;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
  }
  
  .login-form .google-login {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.75rem;
	margin-top: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .login-form .google-login img {
	margin-right: 0.5rem;
  }
  
  @media (max-width: 768px) {
	.login-container {
	  flex-direction: column;
	  height: auto;
	}
  
	.login-image {
	  height: 200px;
	}
  }
  